<div *ngIf="quiz.state == 0" class="container">
  <div  class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"> Game PIN :{{quizPin}} </h1>
        <p class="lead"> Join the Quiz and let's get started </p>
      </div>
  </div>
  <button class="btn btn-primary btn-lg" (click)="onStart()">Start Quiz</button>
  <div *ngIf="players.length">
    <span *ngFor="let player of players"class="badge badge-primary player-badge">{{player}}</span>
  </div>
</div>

<div *ngIf="quiz.state > 1 && quiz.state < 5">
  <h2 class="questin-counter" >{{questionNumber}} of {{questionCount}}</h2>
  <app-question 
    #questionChild [question]="quiz.currentQuestion"
    (timeIsUpEvent)="Next()">
  </app-question>
  <button class="btn btn-primary btn-lg" (click)="Next()"> Next </button>
</div>



<div *ngIf="quiz.state == 4" class="container">
    <app-chart #chartChild 
    [data]="chartData">
    </app-chart>
</div>

<div *ngIf="quiz.state == 5" class="container">
  <app-stage
  [topPlayers]="quiz.topPlayers">
  </app-stage>
</div>

