<div *ngIf="quiz.state == 0" class="container">
  <div  class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"> Game PIN :{{quizPin}} </h1>
        <p class="lead"> Join the Quiz and let's get started </p>
      </div>
  </div>
  <div class="contaier below-bar">
    <div>
      <img src="/assets/people.svg" width="64" height="64">
      <span style="font-size: 48px;" > {{players.length}}</span>
    </div>
    <button class="btn btn-success btn-lg" (click)="next()">Start Quiz</button>
  </div>
  <div *ngIf="players.length">
    <span *ngFor="let player of players"class="badge badge-primary player-badge">{{player}}</span>
  </div>
</div>



<div *ngIf = "quiz.state > 1 && quiz.state < 6">
  <app-question 
    #questionChild [question]="quiz.currentQuestion"
    [timeLeft]="quiz.timeRemained"
    (timeIsUpEvent)="next()">
  </app-question>
  <div class="container below-bar">
    <h2 class="question-counter"> {{quiz.questionNumber}} of {{questionCount}}</h2>
    <h2>
      <img src="/assets/people.svg" width="64" height="64">
        {{quiz.answerArrived}}
    </h2>
    <button class="btn btn-success btn-lg" (click)="skip()"> Skip </button>
    <button class="btn btn-primary btn-lg" (click)="next()"> Next </button>
  </div>
</div>

<div *ngIf="quiz.state == 4" class="container">
    <app-chart #chartChild 
    [data]="chartData">
    </app-chart>
</div>

<div *ngIf="quiz.state == 5" class="container">
  <app-leaderboard #chartChild 
  [players]="quiz.topPlayers">
  </app-leaderboard>
</div>

<div *ngIf="quiz.state == 6" class="container">
  <app-stage
  [topPlayers]="quiz.topPlayers">
  </app-stage>
</div>

