    <div class="container">
        <h3 class="text-center">{{question.text}}</h3>
        <span class="badge badge-warning" id="timer"> {{timeleft}} </span>
    </div>
    <div class="answer-container">
        <button *ngFor="let answer of question.answers; index as i;"
        type="button" [disabled]="answersDisableFlag" [class.correct-answer]="answer.isCorrect" class="btn btn-light btn-primary btn btn-lg" (click)="submitAnswer(i)">{{answer.text}}</button>
    </div>
    <!--[disabled]="answersDisableFlag"-->