div{
    font-family: Verdana, sans-serif;
}

div.question-container{
    margin-bottom: 2vw;
}
div.answer-container{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%  50%; 
    column-gap: 1vw;
    row-gap: 1.5vw;
    margin-bottom: 2vw;
}
button.answer{
    justify-self: stretch;
    color: ivory;
    font-weight: bolder;
    font-size: 1.7vw;
}
div >span#timer {
    font-size: 2vw;
    margin: 15px 15px;
}
button.btn:hover{
    color:black;
    opacity: 0.8;
}

.correct-answer{
    background-color:  rgb(13, 218, 13) !important;
}