div.answer-container{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40%  40%; 
    column-gap: 10px;
    row-gap: 15px;
}
button.answer{
    justify-self: stretch;
}
div >span#timer{
    font-size: xx-large;
    margin: 15px 15px;
}
button.btn:hover{
    background-color: rgb(125, 165, 168);
}

.correct-answer{
    background-color:  rgb(13, 218, 13) !important;
}