div{
    font-family: Verdana, sans-serif;
}

div.question-container{
    margin-bottom: 40px;
}
div.answer-container{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40%  40%; 
    column-gap: 10px;
    row-gap: 15px;
}
button.answer{
    justify-self: stretch;
    color: ivory;
    font-size: large;
    font-weight: bolder;
    height: 60px;
}
div >span#timer{
    font-size: xx-large;
    margin: 15px 15px;
}
button.btn:hover{
    color:black;
    opacity: 0.8;
}

.correct-answer{
    background-color:  rgb(13, 218, 13) !important;
}