    <div class="container question-container">
        <h2 class="text-center">{{question.text}}</h2>
        <span class="badge badge-warning" id="timer"> {{timeleft}} </span>
    </div>
    <div @flyInOut *ngIf="!answersDisableFlag" class="answer-container">
        <button *ngFor="let answer of question.answers; index as i;"
        type="button" [disabled]="answersDisableFlag" [style.background]="colors[i]" [class.correct-answer]="answer.isCorrect"
        class="btn btn-lg answer" (click)="submitAnswer(i)">{{answer.text}}</button>
    </div>
    <!--[disabled]="answersDisableFlag"-->