<div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
</div>
 <!-- <div class="bg"></div>-->

<h2>The Best of the Bests!</h2>
<div>
    <div class="rectangle">
    <img src="./assets/Silver.png" class="imgSilver" alt="Silver" style="width:125px" >
    <h3 class ="second">Masodik</h3>
    <h4 class="spoints">200</h4>
    </div>

    <div class="rectangle2"></div>
    <img src="./assets/Gold.png" class="imgGold" alt="Silver" style="width:125px" >
    <h3 class ="first">{{topPlayers[0].nickName}}</h3>
    <h4 class="fpoints">{{topPlayers[0].totalScore}}</h4>


    <div class="rectangle3"></div>
    <img src="./assets/Bronse.png" class="imgBronse" alt="Silver" style="width:125px">
    <h3 class ="third">elso</h3>
    <h4 class="tpoints">200</h4>

</div>
