
  <h2 * ngIf="studiorum" class="lead">{{ studiorum.title }}</h2>
  <button type="button" class="btn btn-primary" (click)="createQuestion(); child.resetForm();">Add new Question</button>
  <div>
    <div class="row">
      <div class="col-8">
        <app-question-editor *ngIf="selectedQuestion!=null" #child
                             [formData] ="selectedQuestion"
                             (questionChangedEvent)="receiveChangedQuestion($event)"
                             (questionDeletedEvent)="receiveDeletedQuestion($event)">
        </app-question-editor>
      </div>
      <div class="col-4">
        <div *ngFor="let question of studiorum.questions; index as i;">
          <button type="button" (click)="changeCurrentQuestion(i)" class="list-group-item list-group-item-action">
            {{question.text}}
          </button>
        </div>
      </div>
    </div>
  </div>
  

