
  <h2>Studiorum Name</h2>

  <div>
    <div class="row">
      <div class="col-8">
        <app-question-editor [formData] ="selectedQuestion" (questionChangedEvent)="receiveChangedQuestion($event)"></app-question-editor>
      </div>
      <div class="col-4">
        <div *ngFor="let question of studiorum.questions; index as i;">
          <button type="button" (click)="changeCurrentQuestion(i)" class="list-group-item list-group-item-action">
            {{question.text}}
          </button>
        </div>
        <button type ="button" class="btn btn-secondary">Add new Question</button>
      </div>
    </div>
  </div>
  

