<h2>My Studiorums</h2>

<button type="button" class="btn btn-primary modal-window" data-toggle="modal" data-target="#exampleModalLong">
    Add new
</button>


<div class="container">
    <div *ngIf="studiorums.length" id="accordion">
        <div *ngFor="let studiorum of studiorums; index as i;" class="card" >
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#studiorum'+ studiorum.id" aria-expanded="true" [attr.aria-controls]="'studiorum'+studiorum.id">
                {{studiorum.title}}
              </button>
              <button type ="button" class="btn btn-success" routerLink="/lobby"> Start </button>
              <button type ="button" class="btn btn-primary" (click)=navigateToQuestions(i)> Edit </button>
              <button type ="button" class="btn btn-danger" (click)="deleteStudiorum(i)">Delete</button>
            </h2>
          </div>
    
          <div id="studiorum{{studiorum.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul *ngIf="studiorums[i].questions.length" class="list-group">
                    <li *ngFor="let question of studiorums[i].questions" class="list-group-item">{{question.text}}</li>
                </ul>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Title:</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Title: </div>
              </div>
              <input #titleBox (keyup.enter)="addStudiorum(titleBox.value)" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Name your new studiorum">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="addStudiorum(titleBox.value)" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>


</div>
