
<form (ngSubmit)="onEdit()" #questionForm="ngForm">
  <div class="form-group">
    <label for="question text">Question text:</label>
    <input [(ngModel)]="formData.text" name="qText"
           type="text" class="form-control" id="question text" placeholder="Example input" required>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="answer1">Answer 1</label>
        <input [(ngModel)]="formData.answers[0].text" name="answer1" type="text" class="form-control" id="answer1" required>
        <input [(ngModel)]="formData.answers[0].isCorrect" name="answercorrect1" type="checkbox">
      </div>
      <div class="form-group col-md-6">
        <label for="answer2">Answer 2</label>
        <input [(ngModel)]="formData.answers[1].text" name="answer2" type="text" class="form-control" id="answer2" required>
        <input [(ngModel)]="formData.answers[1].isCorrect" name="answercorrect2" type="checkbox">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="answer3">Answer 3</label>
        <input [(ngModel)]="formData.answers[2].text" name="answer3" type="text" class="form-control" id="answer3" required>
        <input [(ngModel)]="formData.answers[2].isCorrect" name="answercorrect2" type="checkbox">
      </div>
      <div class="form-group col-md-6">
        <label for="answer4">Answer 4</label>
        <input [(ngModel)]="formData.answers[3].text" name="answer4" type="text" class="form-control" id="answer4" required>
        <input [(ngModel)]="formData.answers[3].isCorrect" name="answercorrect3" type="checkbox">
      </div>

    </div>
  </div>
  <button id="submitButton" type="submit" class="btn btn-lg"[class.btn-primary]="!newQuestionflag" [class.btn-success]="newQuestionflag" >Edit Question</button>
  <button *ngIf="formData.id != 0" type="button" class="btn btn-danger btn-lg" (click)="deleteQuestion()"> Delete Question </button>
</form>
