<h2>Play Studiorum</h2>

<form #f="ngForm" (ngSubmit)="onSubmit()" *ngIf="quiz.state < 2" class="input-group input-group-lg">
  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">PIN: </div>
      </div>
      <input ngModel name="lobbyPin" #lobbyPin="ngModel" [(ngModel)]="pin" type="text" required minlength="3" maxlength="5" pattern='^[0-9]+$'
      class="form-control" id="Pin" placeholder="Enter PIN here">
    </div>
    <div *ngIf="lobbyPin.invalid && (lobbyPin.dirty || lobbyPin.touched)" class="alert alert-danger">
      <div *ngIf="lobbyPin.errors">
        Pin is required to be a number between 0 and 10000
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Name:</div>
      </div>
      <input ngModel name="nickName" #nickName="ngModel" [(ngModel)]="player.nickName" required minlength="2" maxlength="20"
        type="text" class="form-control" id="name" placeholder="Your nickname">
    </div>
    <div *ngIf="nickName.invalid && (nickName.dirty || nickName.touched)" class="alert alert-danger">
      <div *ngIf="nickName.errors">
        Name is required.
      </div>
    </div>
  </div>
  <span>
    <button class="btn btn-primary" [disabled]="!f.valid" > Join </button>
  </span>
  <h4 *ngIf="quiz.state == 1" class="join-lobby">
    You joined, Can you see your name in the Lobby?
  </h4>
</form>

  <div *ngIf="quiz.nameIsTaken">
    <h3 class="alert alert-danger">There is a palyer with this name already in the game, please choose another nickname</h3>
  </div>

<div class="container" *ngIf="quiz.state > 1">
  <app-question #questionChild [question]="quiz.currentQuestion" (answerSubmittedEvent)="sendAnswer($event)"
    (timeIsUpEvent)="getAnswerResult()">
  </app-question>

  <div class="container below-bar">
    <h2>{{player.nickName}}</h2>
    <h2>Total Score: {{player.totalScore}}</h2>
  </div>
</div>

<div class="answer-result" *ngIf="quiz.state == 3">
  <div *ngIf="quiz.answerScore > 0; then correctAnswer else incorrectAnswer"></div>
  <ng-template #correctAnswer>
    <div class="container">
      <h1 class="display-4"> Spot on, correct answer ! </h1>
      <p class="lead"> Your score is : {{quiz.answerScore}} </p>
    </div>
  </ng-template>
  <ng-template #incorrectAnswer>
    <div class="container">
      <h1 class="display-4"> Oh no, this time you got it wrong ! </h1>
      <p class="lead"> Your score is : 0 </p>
    </div>
  </ng-template>
</div>