<h2>Play Studiorum</h2>

<div *ngIf ="quiz.state < 2" class="input-group input-group-lg">
    <div class="col-auto">
      <label class="sr-only" for="pin">Enter Pin here</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">PIN: </div>
        </div>
        <input [(ngModel)]="pin" type="text" class="form-control" id="Pin" placeholder="Enter PIN here">
      </div>
    </div>
    <div class="col-auto">
      <label class="sr-only" for="name">Name: </label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Name: </div>
        </div>
        <input [(ngModel)]="playerName" type="text" class="form-control" id="name" placeholder="My Name">
      </div>
    </div>
    <span>
      <button class="btn btn-primary" (click)="onSubmit()"> Join </button>
    </span>
    <h4 *ngIf ="quiz.state == 1" class="join-lobby">
      You joined, check if you can see you name in the Lobby
    </h4>
</div>

<app-question *ngIf="quiz.state > 1"
  #questionChild [question]="quiz.currentQuestion" [answerFromServer]="quiz.answerFromServer"
  (answerSubmittedEvent)="sendAnswer($event)" >
</app-question>

<div class="answer-result" *ngIf="quiz.state == 3">
  <div *ngIf="quiz.answerScore > 0; then correctAnswer else incorrectAnswer"></div>
  <ng-template #correctAnswer>
    <div class="container">
      <h1 class="display-4"> You are spot on, correct answer ! </h1>
      <p class="lead"> Your score is : {{quiz.answerScore}} </p>
    </div>
  </ng-template>
  <ng-template #incorrectAnswer>
    <div class="container">
      <h1 class="display-4"> Oh no, this time you got it wrong ! </h1>
      <p class="lead"> Your score is : 0 </p>
    </div>
  </ng-template>
</div>
 