<h2>Play Studiorum</h2>

<div class="input-group input-group-lg">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Enter Pin here</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">PIN: </div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter PIN here">
      </div>
    </div>
    <span>
      <button class="btn btn-primary"> Join </button>
    </span>
  </div>

  <h4 class="join-lobby">You joined, check if you can see you name in the Lobby
      (This Label pops up when the server replies with a success)</h4>

